/* Cores padrões
#da6666
*/



html {
	background: whitesmoke;
	left: 30%;
}
body {
	font-family: Arial, sans-serif;
	background: whitesmoke;
	margin: 0;
	padding: 0;
}
header {
	justify-content: center;
	background-color: #c71919f5;
	color: white;
	padding: 10px;
	text-align: center;
	border-bottom: solid whitesmoke;
}
#sobre img {
	float: left;
	margin-right: 25px;
}
#servicos img {
	float: left;
	margin-left: 25px;
	padding-right: 20px;
}
#trocaoleo img {
	float: right;
	margin-right: 25px;
	padding-left: 20px;
}
#alinhamento img {
	float: left;
	margin-left: 25px;
	padding-right: 20px;
}
#suspensao img {
	float: right;
	margin-top: 40px;
	margin-right: 25px;
	padding-left: 20px;
}
#limpezabico img {
	float: left;
	margin-left: 25px;
	padding-right: 20px;
}
section {
	padding-bottom: 30px;
}
#contato {
	padding-top: 30px;
}
nav {
	align-items: center;
	background-color: #c71919f5;
	padding: 10px 0;
	text-align: center;
}
nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
}
nav a:hover {
	background-color: #da6666;
	text-decoration-line: underline;
}
.container {
	text-align: justify;
	max-width: 1024px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer {
	background-color: #c71919f5;
	color: #fff;
	text-align:center;
	position:relative;
	bottom: 0;
	width: 100%;
	padding: 5px;
}