/* .backgroud { color: #F2E3B6}
.fonte { color: #A63F03}
.destaque { color: #731702} */

html {
    background: #F2E3B6;
    color: #A63F03;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
p {
    text-indent: 1em;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
}
h2 {
    text-align: center;
    font-size: 1.4rem
}
h3 {
    text-align: center;
    font-size: 1.2rem
}
.summary {
    text-align: right;
}
.main p {
    line-height: 1.5;
}
abbr {
    font-variant: small-caps;
}
.page-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    position: relative;
}
.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: 1px solid #1f295c;
    padding-right: 2%;
}
#design-selection {
    position: absolute;
    top: 480px;
    left: 62%;
    width: 34%;
    padding-left: 2%;
    padding-right: 2%;
}

#zen-intro {
    height: 550px;
}
#design-archives {
    display: none;
}
header {
    background-color: #A63F03;
    color:#F2E3B6;
}
#zen-intro header h1, h2 {
    display: inline-block;
}
#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}
aside ul {
    list-style-type: none;
}
aside ul li {
    margin: 1em;
    text-align: center;
}
footer {
    margin: 4%;
    text-align: center;

}
.main footer a {
    border: solid 2px #A63F03;
    padding: 0.5em;
    display: inline-block;
}

/*1. Aplique o flexbox no rodapé da seção principal, e posicione os links de forma que fique centralizados e com espaçamento entre eles.
- Defina um mesmo tamanho para os links.
- Não se esqueça de tratar o caso de quebra de linha.
2. Configure um layout de flexbox para a seção de benefícios da seguinte forma:
- O texto deve ficar à esquerda, e o título à direita.
- O título deve ficar centralizado verticalmente.
- O texto deve ocupar aproximadamente 70% da largura, e o título 30%.
3. Configure um layout de flexbox para a seção de participação da seguinte forma:
- Cada item deve ocupar 50% do espaço disponível.
- O título deverá ficar centralizado verticalmente.
4. Inclua uma linha no topo e embaixo das seções de benefícios e participação, utilizando a propriedade border-bottom e border-top respectivamente.
- Remova a ocorrência de borda duplicada entre as duas seções*/

footer {
    display: flex;
    justify-content: space-evenly;

}

.benefits {
    display: flex;
    border-bottom: solid 1px;
    border-top: solid 1px;
}
.benefits h3 {
    align-self: center;
    order: 2;
    flex-basis: 30%;
}
.benefits > p {
    order: 1;
    flex-basis: 70%;
}


.participation {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px;
}
.participation  h3 {
    flex-basis: 50%;
    align-self: center;
}

.participation  p {
    flex-basis: 50%;
}

/*1. Customize a aparência dos links da seguinte forma: 
- Por padrão, devem ter a cor de destaque e estarem em negrito.
- Se sobrepostos, devem ter sua cor alterada para uma tonalidade mais clara/escura.
Os links visitados não devem ficar mais em negrito.
2. Vamos dar um destaque a primeira letra do primeiro parágrafo da seção principal.
 Você deverá customizá-lo para que:
- Tenha tamanho de fonte 3 vezes maior que o padrão.
- Seja de uma fonte diferente da escolhida para o  site.
- Fique flutuando a esquerda.
OBS: você precisará aplicar mais de um pseudo seletor para realizar essa estilização. Fique atento!
3. Utilize bordas para criar um separador entre os itens presentes no menu de design.
Aplique uma borda superior no topo de todos os itens de menu.
Aplique uma borda inferior apenas no último item da lista
*/

a {
    color: #731702;
    font-weight: bold;
}

a:hover{
    color:rgba(126, 25, 25, 0.425);
}

a:visited {
    font-weight: normal;
}


.main p:first-of-type::first-letter {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}

.design-selection li {
    border-top: #1f295c solid 1px;
}

.design-selection li:last-child {
    border-bottom: #1f295c solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* 1. Crie uma media query para telas inferiores a 768 pixels; nós a utilizaremos como layout mobile.
2. Realize as seguintes mudanças para o layout mobile:
- Remova o reposicionamento do menu de design para que ele se encaixe no mesmo lugar de antes.
- Remova a borda lateral ao lado da div
- Mude a orientação do Flexbox presente no elemento para vertical, e organize os elementos de forma empilhada
- Remova a altura fixa presente no cabeçalho da página
- Remova também o espaçamento inicial dado a cada um dos parágrafos
Vamos Deixar nossa página mais adequada a mídia de impressão também!
1. Crie uma media query para meios impressos, mas sem qualquer tipo de restrição relacionada a tela
2. Adicione as seguintes modificações a essa media query: 
- Altere o estilo da fonte para uma serifada, como times .
- Inverta as cores do banner para que o fundo fique claro (assim como o restante da página)*/

@media screen and (max-width: 768px) {
    #design-selection {
       position: static;
       width: 100%;
    }
    .explanation {
        width:100%;
        border-right: none;
    }
    #zen-intro {
        height: auto;
    }
    .participation {
        flex-direction: column;
    }
    p { text-indent: 0%;
    }
}

@media print {
   html { 
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color: #F2E3B6;
    color:#A63F03;
}
#design-selection {
    position: static;
    width: 100%;
 }
 .explanation {
     width:100%;
     border-right: none;
 }
}